@import (less) '../../assets/semantic-ui/site/globals/site.variables';

.application-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.application-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.application-footer {
	margin-top: 20px;
	margin-bottom: 40px;
}

.application-form-container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;

  max-width: 600px;
  width: 100%;
}

.form.apply.header {
	margin-bottom: 30px;
}

.qhacks-logo {
  height: 120px;
}

.textAlign-center {
  text-align: center;
}
